<table class="table caption-top mt-5 text-center">
  <h1 class="text-center mt-2">Specialist List</h1>
  <thead>
    <tr>
      <th scope="col" style="font-size: larger;">Specialist ID</th>
      <th scope="col" style="font-size: larger;">Specialist Name</th>
      <th scope="col" style="font-size: larger;">Speciality</th>
      <th scope="col" style="font-size: larger;">Remove Specialist</th>
    </tr>
  </thead>
  <tbody>
    {{#each specialists as |specialist|}}
    <tr>
      <th scope="row">{{specialist.id}}</th>
      <td><a href="/Medisearch/Specialists/View/{{specialist.id}}">{{specialist.SpecialistName}}</a></td>
      <td>{{specialist.Speciality}}</td>
      <td><a href="/" id="delete-specialist-{{specialist.id}}" class="delete-specialist">Delete</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<script src="/javascript/delete-specialist.js"></script>